* {
    margin: 0;
}
body {
    font-family: Verdana, sans-serif;
    background-color: #e1f5f5;
}

#header {
    color: white;
    height: 13vh;
    background-color: #4f698a;
    margin-bottom:0px;
    box-shadow: 2px 2px 7px #888888;
}
#headerText {
    padding-top: 1%;
    margin-right: 15%;
}

.Center-Box-Container {
    width: 70%;
    height:84vh;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    padding: 10px;
    box-shadow: 1px 4px 4px #888888;
    text-align: center;
}

.Center-Box-Container-Scrollable {
    width: 70%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    padding: 10px;
    box-shadow: 1px 4px 4px #888888;
    text-align: center;
}

.Left_Option {
    padding-top:1%;
    padding-bottom:1%;
    color: white;

    background-color: #4f698a;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: -10%;
    margin-right: 25%;    
    text-align: center;
    font-size: x-large;
}

.Left_Option:hover {background-color: #4f878b;}

.Left_Option:active {
    background-color: #4f878b;
    box-shadow: 0 -3px #b1e5e7;
    transform: translateY(4px)
}

.Right_Option {
    padding-top:1%;
    padding-bottom:1%;
    color: white;

    background-color: #4f698a;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 25%;
    margin-right: -10%;    
    text-align: center;
    font-size: x-large;
}

.Right_Option:hover {background-color: #4f878b;}

.Right_Option:active {
    background-color: #4f878b;
    box-shadow: 0 -3px #b1e5e7;
    transform: translateY(4px)
}

.Mid_Option {
    padding-top:1%;
    padding-bottom:1%;
    color: white;


    background-color: #4f698a;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 5px;
    text-align: center;
    font-size: x-large;
}

.Mid_Option:hover {background-color: #4f878b;}

.Mid_Option:active {
    background-color: #4f878b;
    box-shadow: 0 -3px #b1e5e7;
    transform: translateY(4px)
}

.Mid_Container {
    padding-top:1%;
    padding-bottom:1%;
    color: white;


    background-color: #4f698a;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 5px;
    text-align: center;
    font-size: x-large;
}

.Text_Link {
    text-decoration: none;
    color: white;
}

.Text_Link:hover {
    color: lightgray;
}

.Text_Link_Dark {
    text-decoration: none;
    color: darkslategray
}

.Text_Link_Dark:hover {
    color: darkgray;
}

.Table-Grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2px;
    background-color: black;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.Table-Grid > div {
    background-color: white;
    text-align: center;
    height: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    }

.L_Column {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}

.R_Column {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

.Drink-Grid-Container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 4em;
}

.Drink-Grid-Container > div {
    background-color: #4f698a;
    text-align: center;
    height: 5em;
    padding: 10%; 
    border-radius: 5px;   
}

.Drink-Grid-Container > div > p {
    color: white;
}