* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Header-Grid-Container {
    display: grid;
    grid-template-columns: 100%;
    background-color: #cf1313;
    text-shadow: -2px 3px #999;;
}

.Header-Grid-Container > div {
    text-align: center;
    font-size: xx-large;
    margin: .75em;
    color: white;
}

.Debugger-Manager-Background {
    background-color: lightgray;
    margin: 2em;
    border-radius: 8px;
}

.Debugger-Buttons-Container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.Debugger-Buttons-Container > div {
    margin: 1em;
    text-align: center;
}

.Debugger_Button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #f54242;
    border: none;
    border-radius: 15px;
    box-shadow: -3px 4px #999;
}

.Debugger_Button:hover {background-color: #cf1313}

.Debugger_Button:active {
    background-color: #f54242;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.Create_User_Button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 15px;
    box-shadow: -3px 4px #999;
}

.Create_User_Button:hover {background-color: darkgreen;}

.Create_User_Button:active {
    background-color: green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}