{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Funds</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'PuttPutt/dashboardStyle.css' %}">
</head>
<body style="background-color: #e1f5f5;">
    <div id="header">
        <div id="headerText">
            <h3 style="text-align: right;">Welcome, {{user.first_name}}</h3>
            <h3 style="text-align: right;">Current Balance: $0.00</h3>
            <p style="text-align: right;"> <a class="Text_Link" href="{% url 'logout' %}"> <u>Sign out</u> </a> </p>
        </div>
    </div>
    <div class="Center-Box-Container">
        <!-- Link this to corresponding user's dashboard-->
        <p style="text-align: right;"> <a class="Text_Link_Dark" href="{% url 'playerDashboard' %}"> <u>Back To Dashboard</u> </a> </p>
        <h1>Add Funds</h1>
        <div class="Mid_Container">
            <!-- Display current amount of funds-->
            <h2>Current Balance: $0.00</h2>
            <p>Add how much money?</p>
            <input type="text">
            <p><button>Confirm</button></p>
        </div>
    </div>
</body>
</html>