<!DOCTYPE html>
<html lang="en">
<head>
	<title>Create User</title>
	<meta charset="UTF-8">
</head>
<body>
	<h1 class="Temporary">Drink Creator</h1>

    <form action="/createDrink" method="GET">
        <label for="name">Drink Name: </label>
        <input type="text" id="name" name="name" maxlength="30"><br><br>
        <label for="description">Description: </label>
        <input type="text" id="description" name="description" maxlength="300"><br><br>
        <label for="cost">Cost: </label>
        <input type="number" id="cost" name="cost"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
