<!DOCTYPE html>
<html lang="en">
<head>
	<title>Create User</title>
	<meta charset="UTF-8">
</head>
<body>
	<h1 class="Temporary">User Creator</h1>

    <form action="/createUser" method="GET">
        <label for="userID">userID (login name): </label>
        <input type="text" id="userID" name="userID"><br><br>
        <label for="userName">User Name:</label>
        <input type="text" id="userName" name="userName"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
