<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'PuttPutt/style.css' %}">
        <title>Putt-Putt</title>

    </head>

    <body>
        <div id="header">
            <a href="{% url 'login' %}"><div id="loginButton">Back to Login</div></a>
        </div>
        <div id="content">
            <h1>User Sign Up</h1>
            <div class="Login-Container">
                <form action="/createUser" method="POST">
                    {% csrf_token %}
                    <input class="Login-Input" type="text" id="userID" name="userID" placeholder="User Name"><br><br>
                    <input class="Login-Input" type="text" id="firstName" name="firstName" placeholder="First name"><br><br>
                    <input class="Login-Input" type="text" id="lastName" name="lastName" placeholder="Last Name"><br><br>
                    <input class="Login-Input" type="text" id="email" name="email" placeholder="Email"><br><br>
                    <input class="Login-Input" type="text" id="emailConfirmation" name="emailConfirmation" placeholder="Email Confirmation"><br><br>
                    <input class="Login-Input" type="password" id="password" name="password" placeholder="Password"><br><br>
                    <input class="Login-Input" type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="Password Confirmation"><br><br>
                    <input type="submit" value="Submit" class="Login-Button">
                </form>
            </div>
            {% if error %}
                <br>
                <p>{{error}}</p>
            {% endif %}
        </div>
    </body>
</html>