{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hello World!</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'PuttPutt/databaseDebuggerStyle.css' %}">
</head>
<body>
    <div class="Header-Grid-Container">
        <div>
            <h1>Database Debugger</h1>
        </div>
    </div>
    <div class="Header-Grid-Container" style="background-color: #b31414;">
        <div></div>
    </div>

    <div class="Debugger-Manager-Background">
        <div class="Debugger-Buttons-Container">
            <div>
                <form action="/createUserPage">
                    <button class="Create_User_Button">Create User</button>
                </form>
            </div>

            <div>
                <form action="/testButtonFunction">
                    <button class="Debugger_Button">Click Me!</button>
                </form>
            </div>

            <div>
                <form action="/testButtonFunction">
                    <button class="Debugger_Button">Click Me!</button>
                </form>
            </div>

            <div>
                <form action="/testButtonFunction">
                    <button class="Debugger_Button">Click Me!</button>
                </form>
            </div>

            <div>
                <form action="/testButtonFunction">
                    <button class="Debugger_Button">Click Me!</button>
                </form>
            </div>

            <div>
                <form action="/testButtonFunction">
                    <button class="Debugger_Button">Click Me!</button>
                </form>
            </div>

            <div>
                <form action="/testButtonFunction">
                    <button class="Debugger_Button">Click Me!</button>
                </form>
            </div>

            <div>
                <form action="/testButtonFunction">
                    <button class="Debugger_Button">Click Me!</button>
                </form>
            </div>

            <div>
                <form action="/testButtonFunction">
                    <button class="Debugger_Button">Click Me!</button>
                </form>
            </div>

            <div>
                <form action="/testButtonFunction">
                    <button class="Debugger_Button">Click Me!</button>
                </form>
            </div>

            <div>
                <form action="/testButtonFunction">
                    <button class="Debugger_Button">Click Me!</button>
                </form>
            </div>

            <div>
                <form action="/testButtonFunction">
                    <button class="Debugger_Button">Click Me!</button>
                </form>
            </div>

            <div>
                <form action="/testButtonFunction">
                    <button class="Debugger_Button">Click Me!</button>
                </form>
            </div>

            <div>
                <form action="/testButtonFunction">
                    <button class="Debugger_Button">Click Me!</button>
                </form>
            </div>

            <div>
                <form action="/testButtonFunction">
                    <button class="Debugger_Button">Click Me!</button>
                </form>
            </div>

            <div>
                <form action="/admin">
                    <button class="Debugger_Button" style="background-color: blue;">Admin Page</button>
                </form>
            </div>
        </div>
    </div>

    <h2 style="margin: 2em;">Create User:</h2>
    <p style="text-align: center; font-size: large; margin: 1em;">
        Takes user to the temporary create user page, and creates a user in the database when submitted.
        This can be verified through the webites /admin page.
    </p>

    <h2 style="margin: 2em;">Click Me:</h2>
    <p style="text-align: center; font-size: large; margin: 1em;">
        Each of these buttons work by running the URL ".../testButtonFunction"
        (specified inside the /PuttPutt/urls.py), where it then executes the function
        "testButtonFunction" inside the views.py python file. It prints a message to 
        the console, and reloads the same page.
    </p>
</body>
</html>
