{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drinkmeister Dashboard</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'PuttPutt/dashboardStyle.css' %}">
</head>
<body style="background-color: #e1f5f5;">
    <div class="Header-Grid-Container">
        <div>
            <p style="text-align: right;">Sign out</p>
        </div>
    </div>
    <div class="Header-Grid-Container" style="background-color: #4f698a">
        <div></div>
    </div>
    <div class="Center-Box-Container">
        <div>Drink Orders Pending</div>   
    </div>
</body>
</html>