{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drinkmeister Dashboard</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'PuttPutt/dashboardStyle.css' %}">
</head>
<body style="background-color: #e1f5f5;">
    <div id="header">
        <div id="headerText">
            <h3 style="text-align: right;">Welcome, {{user.first_name}}</h3>
            <h3 style="text-align: right;">Current Balance: $0.00</h3>
            <a class="Text_Link" href="{% url 'logout' %}"> <p style="text-align: right;"> <u>Sign out</u> </p> </a>
        </div>
    </div>
    <div class="Center-Box-Container">
        <h1 style="text-align: center;">Drink Orders Pending</h1>
        <div class="Mid_Option">
            <p>Drink orders will appear here</p>
        </div>
        <div class="Mid_Option">
            <p>They will be clickable in order to complete the orders</p>
        </div>
        <div class="Mid_Option">
            <p>The center box container should also be able to change height based on the number of orders there are.</p>
        </div>
    </div>
</body>
</html>