<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Putt-Putt</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'PuttPutt/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id="header">
            <a href="{% url 'login' %}"><div id="loginButton">Login</div></a>
        </div>
        <div id="content">
            <h1>Welcome to Putt-Putt!</h1>
            <div>
                <h2>Leaderboard</h2>
                <p id="leaderboardDate">Wednesday, October 11th</p>
                <div id="leaderboard">
                    <table>
                        <tr>
                            <th>Player</th>
                            <th>Score</th>
                        </tr>
                        <!-- Fill with player stats-->
                        <tr><td>John Smith</td><td>10</td></tr>
                    </table>
                </div>
            </div>
            <div>
                <h2>Upcoming Tournaments</h2>
                <div id="upcomingTournaments">

                    <!-- Fill with upcoming tournaments -->
                    <div class="upcomingTournamentElement"><p>Friday, November 2nd at 9:00 am</p></div>
                    <input id="datetimepicker" type="text">

                      <script>
                        $(function () {
                          $("#datetimepicker").datetimepicker();
                        });
                      </script>




                </div>
            </div>

        </div>
    </body>
</html>