<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Putt-Putt</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'PuttPutt/style.css' %}">
    </head>

    <body>
        <div id="header">
            <a href="{% url 'login' %}"><div id="loginButton">Login</div></a>
        </div>
        <div id="content">
            <h1>Welcome to Putt-Putt!</h1>
            <div>
                <h2>Leaderboard</h2>
                <div id="leaderboard">
                    {% if todaysTourney %}
                        <p>{{todaysTourney}}</p>
                        <table>
                            <tr>
                                <th>Player</th>
                                <th>Score</th>
                            </tr>
                            <!-- Fill with player stats-->
                            {% for player in players %}
                            <tr><td>{{player.getUserName}}</td><td>{{ player.scoreSum }}</td></tr>
                            {% endfor %}
                        </table>

                    {% else %}
                        <p>There's no tournament today :(</p><br><br><br>
                    {% endif %}
                </div>
            </div>
            <div>
                <h2>Upcoming Tournaments</h2>
                <div id="upcomingTournaments">

                    <!-- Fill with upcoming tournaments -->
                    <div class="upcomingTournamentElement">
                        {% if tournaments %}
                            {% for tournament in tournaments %}
                                <p>Date: {{tournament.date}}, Prize-Pool: ${{tournament.prize_pool}}</p>
                            {% endfor %}
                        {% else %}
                            <p>No upcoming tournaments.</p>
                        {% endif %}
                    </div>

                </div>
            </div>

        </div>
    </body>
</html>