<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'PuttPutt/style.css' %}">
        <title>Putt-Putt</title>

    </head>

    <body>
        <div id="header">
        </div>
        <div id="content">
            <h1>User Sign In</h1>

            <form action="/signInUser" method="POST">
                {% csrf_token %}
                <input type="text" id="userID" name="userID" placeholder="Username"><br><br>
                <input type="password" id="password" name="password" placeholder="Password"><br><br>
                <input type="submit" value="Submit">
            </form>
            <form action="/createUserPage">
                <input type="submit" value="Sign up">
            </form>

            {% if error %}
                <br>
                <p>{{error}}</p>
            {% endif %}
        </div>
    </body>
</html>