{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manage Users</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'PuttPutt/dashboardStyle.css' %}">
</head>
<body style="background-color: #e1f5f5;">
    <div id="header">
        <div id="headerText">
            <h3 style="text-align: right;">Welcome, {{user.first_name}}</h3>
            <a class="Text_Link" href="{% url 'logout' %}"> <p style="text-align: right;"> <u>Sign out</u> </p> </a>
        </div>
    </div>

    <div class="Center-Box-Container" style="text-align: center;">
        <div style="text-align: center;">
        <label style="margin-right: 1em;">User Name</label>
        <input id="userChoice" placeholder="User" style="font-size: 20px; margin-top: 1em; margin-bottom: 1em;"><br>
        <label style="margin-right: 1em;">User Type</label>
        <select name="cars" id="cars" style="font-size: 20px; margin-top: .5em;">
            <option value="Player">Player</option>
            <option value="Sponsor">Sponsor</option>
            <option value="Manager">Manager</option>
            <option value="DrinkMeister">DrinkMeister</option>
          </select><br>
          <button style="margin-top: 1em; font-size: 25px;">Submit</button>
    </div>
        <h2 style="margin-bottom: 1em;">Click to choose User</h2>
        {% for u in users %}
            <button onclick="putInUserChoice(this)" style="font-size: 25px; margin-bottom: 1em;">{{u}}</button><br>
        {% endfor %}
    </div>
</body>
<script>
    function putInUserChoice(element) {
        var userChoice = document.getElementById("userChoice");
        userChoice.value = element.textContent;
        console.log(element.textContent);
    }
</script>
</html>
