{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manage Users</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'PuttPutt/dashboardStyle.css' %}">
</head>
<body style="background-color: #e1f5f5;">
    <div id="header">
        <div id="headerText">
            <h3 style="text-align: right;">Welcome, {{user.first_name}}</h3>
            <h3 style="text-align: right;">Current Balance: ${{user.profile.account_balance}}</h3>
            <p style="text-align: right;"> <a class="Text_Link" href="{% url 'logout' %}"> <u>Sign out</u> </a> </p>
        </div>
    </div>

    <div class="Center-Box-Container" style="text-align: center;">
        <div style="text-align: center;">
            <p style="text-align: right;"> <a class="Text_Link_Dark" href="{% url 'playerDashboard' %}"> <u>Back To Dashboard</u> </a></p>
            <div style="border-width: 10px; border-style: ridge; background-color: #4f698a; border-color: #4f698a; margin-left: 15%; margin-right: 15%; margin-top: 2em; padding-top: 1em; padding-bottom: 1em;">
                {% if errors %}
                    <p>{{errors}}</p>
                {% endif %}
            <form action="/updateUserType" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <th style="border: none;">
                            <label style="color: white; font-size: 25px;">User Name</label>
                        </th>
                        <th style="border: none;">
                            <select name="userChoice" id="userChoice" name="userChoice" style="font-size: 20px; margin-top: .5em;">
                                {% for u in users %}
                                    <option value="{{u}}">{{u}}</option>
                                {% endfor %}
                            </select><br>
                        </th>
                    </tr>
                    <tr>
                        <th style="border: none;">
                            <label style="color: white; font-size: 25px;">User Type</label>
                        </th>
                        <th style="border: none;">
                            <select name="userType" id="userType" name="userType" style="font-size: 20px; margin-top: .5em;">
                                <option value="PL">Player</option>
                                <option value="SP">Sponsor</option>
                                <option value="MA">Manager</option>
                                <option value="DM">Drinkmeister</option>
                            </select><br>
                        </th>
                    </tr>
                </table>
                <button style="margin-top: 1em; font-size: 25px;">Submit</button>
            </form>
            </div>
        </div>
    </div>
</body>
</html>
