{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manager Dashboard</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'PuttPutt/dashboardStyle.css' %}">
</head>
<body style="background-color: #e1f5f5;">
    <div id="header">
        <div id="headerText">
            <h3 style="text-align: right;">Welcome, {{user.first_name}}</h3>
            <h3 style="text-align: right;">Current Balance: ${{user.profile.account_balance}}</h3>
            <p style="text-align: right;"> <a class="Text_Link" href="{% url 'logout' %}"> <u>Sign out</u> </a> </p>
        </div>
    </div>
    <div class="Center-Box-Container"> 
        <div class="Left_Option">
            <a class="Text_Link" href="{% url 'manageUsers' %}">View/Edit Users</a>
        </div>  
        <div class="Left_Option">
            <a class="Text_Link" href="{% url 'manageDrinks' %}">View/Edit Drink Menu</a>
        </div>  
        <div class="Right_Option">
            <a class="Text_Link" href="{% url 'manageCurrentTournament' %}">Current Tournament</a>
        </div>  
        <div class="Right_Option">
            <a class="Text_Link" href="{% url 'upcomingTournaments' %}">Upcoming Tournaments</a>
        </div>  
        <div class="Left_Option">
            <a class="Text_Link" href="{% url 'addFunds' %}">Add Funds</a>
        </div>   
        <div class="Left_Option">
            <p>Manage Funds</p>
        </div>
    </div>
</body>
</html>
