{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manager Dashboard</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'PuttPutt/dashboardStyle.css' %}">
</head>
<body style="background-color: #e1f5f5;">
    <div class="Header-Grid-Container">
        <div>
            <a class="Text_Link" href="{% url 'index' %}"> <p style="text-align: right;"> <u>Sign out</u> </p> </a>
        </div>
    </div>
    <div class="Header-Grid-Container" style="background-color: #4f698a">
        <div></div>
    </div>
    <div class="Center-Box-Container"> 
        <div class="Left_Option">
            <p>Current Tournament</p>
        </div>  
        <div class="Right_Option">
            <p>Calendar</p>
        </div>  
        <div class="Left_Option">
            <p>View/Edit Users</p>
        </div>  
        <div class="Right_Option">
            <p>Manage Funds</p>
        </div>
    </div>
</body>
</html>