{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Order Drinks</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'PuttPutt/dashboardStyle.css' %}">
</head>
<body style="background-color: #e1f5f5;">
    <div id="header">
        <div id="headerText">
            <h3 style="text-align: right;">Welcome, {{user.first_name}}</h3>
            <h3 style="text-align: right;">Current Balance: ${{user.profile.account_balance}}</h3>
            <p style="text-align: right;"> <a class="Text_Link" href="{% url 'logout' %}"> <u>Sign out</u> </a> </p>
        </div>
    </div>
    <div class="Center-Box-Container-Scrollable">
        <p style="text-align: right;"> <a class="Text_Link_Dark" href="{% url 'playerDashboard' %}"> <u>Back To Dashboard</u> </a> </p>
        <h1>Order Drinks</h1>
        <!-- Fill with drink menu-->
        <h3>Drink Menu:</h3>
        <div class="Drink-Grid-Container">
            {% for d in drinks %}
              <div> 
                  <p>{{d.name}}</p>
                  <p>{{d.description}}</p>
                  <p>${{d.cost}}</p>
              </div>
            {% endfor %}
         </div>

         <div class="Mid_Container">
            <form action="/orderDrinkRequest" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <th style="border: none;">
                            <label style="color: white; font-size: 25px;">Selection:</label>
                        </th>
                        <th style="border: none;">
                            <select name="drinkChoice" id="drinkChoice" name="drinkChoice" style="font-size: 20px; margin-top: .5em;">
                                {% for d in drinks %}
                                    <option value="{{d.name}}">{{d.name}}</option>
                                {% endfor %}
                            </select><br>
                        </th>
                        <tr> <tr/>
                        <th style="border: none;">
                            <label style="color: white; font-size: 25px;">Deliver to which hole?:</label>
                        </th>
                        <th style="border: none;">
                            <select name="holeNumber" id="holeNumber" name="holeNumber" style="font-size: 20px; margin-top: .5em;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select><br>
                        </th>
                    </tr>
                </table>
                <button style="margin-top: 1em; font-size: 25px;">Submit Order</button>
            </form>
            {% if error %}
                <br>
                <p>{{error}}</p>
            {% endif %}
         </div>
    </div>
</body>
</html>
