{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Player Dashboard</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'PuttPutt/dashboardStyle.css' %}">
</head>
<body style="background-color: #e1f5f5;">
    <div class="Header-Grid-Container">
        <div>
            <h3 style="text-align: right;">Current Balance: $0.00</h1>
        </div>
    </div>
    <div class="Header-Grid-Container" style="background-color: #4f698a">
        <div></div>
    </div>
    <div class="Center-Box-Container">
        <div></div>
        <div class="Left_Option">
            <p>Enter Score</p>
        </div>  
        <div class="Right_Option">
            <p>Order Drinks</p>
        </div>  
        <div class="Left_Option">
            <p>Add Funds</p>
        </div>    
    </div>
</body>
</html>