{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sponsor Dashboard</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'PuttPutt/dashboardStyle.css' %}">
</head>
<body style="background-color: #e1f5f5;">
    <div class="Header-Grid-Container">
        <div>
            <h3 style="text-align: right;">Account Balance: $0.00</h3>
            <p style="text-align: right;">Sign out</p>
        </div>
    </div>
    <div class="Header-Grid-Container" style="background-color: #4f698a">
        <div></div>
    </div>
    <div>
        <h1 style="text-align: center;">Select Tournament to Sponsor</h1>
    </div> 
    <div class="Center-Box-Container"> 
        <div class="Mid_Option">
            <p>Calendar to go here</p>
        </div>
        <div class="Left_Option">
            <p>Add Prize Money To Account</p>
        </div>
    </div>
</body>
</html>