{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sponsor Dashboard</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'PuttPutt/dashboardStyle.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
</head>
<body style="background-color: #e1f5f5;">
    <div id="header">
        <div id="headerText">
            <h3 style="text-align: right;">Welcome, {{user.first_name}}</h3>
            <h3 style="text-align: right;">Current Balance: ${{user.profile.account_balance}}</h3>
            <p style="text-align: right;"> <a class="Text_Link" href="{% url 'logout' %}"> <u>Sign out</u> </a> </p>
        </div>
    </div>
    <div class="Center-Box-Container">
        <h1 style="text-align: center;">Tournaments Scheduled</h1>
        <div class="Mid_Container">
            {% for tournament in tournaments %}
                <p>Date: {{tournament.date}}, Prize-Pool: ${{tournament.prize_pool}}</p>
            {% endfor %}
        </div>
        <h1 style="text-align: center;">Tournament Sponsor</h1>
        <div class="Mid_Container">
            <form action="/sponsorTournament" method="POST">
                {% csrf_token %}
                <input name="datetimepicker" id="datetimepicker" type="text" placeholder="Year/Month/Day" style="font-size: 25px;"><br>
                <input name="prizeAmount" id="prizeAmount" type="number" placeholder="$ Prize Amount" style="font-size: 25px; margin-top: 1em;"><br>
                <button style="font-size: 25px; margin-top: 1em;">Sponsor</button>
            </form>
        </div>
        <div class="Right_Option">
            <a class="Text_Link" href="{% url 'addFunds' %}">Add Funds</a>
        </div>
    </div>
</body>

<script>
    $(function () {
      $("#datetimepicker").datetimepicker();
    });
 </script>
</html>